@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap"); //added the lato font family

body {
  background-color: #23101c;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: lato, Dancing script;
}
.container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 5rem;
    // color: #1098e6;
  }
}
span {
  color: #fff724;
  font-size: 4rem;
}
@media screen and(max-width:700px) {
  .container {
    span {
      font-size: 2.5rem;
      flex-wrap: wrap;
      color: #1098e6;
    }
    h1 {
      color: #fff724;
      font-size: 3rem;
    }
  }
}
